.unit {
    background-color: #C49C61;
    padding-top: 5px;
    margin: 5px;
    width: 190px;
    border-radius: 15px;
    border: 3px solid black;
}

.unit-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
  }

.sprite-box {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.name {
    text-decoration: underline;
}

.name:hover {
    color:yellow;
    cursor: pointer;
}

.nameform-input {
    max-width: 100px;
}

.stat-box {
    background-color: #ffffff77;
    padding: 5px;
    margin-bottom: 3px;
}

.stat-arrow {
    width: 30px;
    display:inline-block;
}
/* todo: pad out stat info so it's aligned despite arrow differences */

.unit-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3px;
}

button {
    padding: 3px;
    width: 70px;
    margin: 5px;
    border-radius: 7px;
    border: none;
}

.dangerous-button {
    background-color: lightpink;
}

.dangerous-button:hover {
    background-color: palevioletred;
}


/* DELETE MODAL */

dialog {
    background-color:#C49C61;
    border-radius:20px
}

.dialog {
    min-width: 200px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    background-color: #ffffff77;
    border-radius:14px;
}

dialog p {
    margin-top: 0px;
    margin-bottom: 0px;
}

dialog button {
    width: 80px;
    margin: 5px;
}



::backdrop {
    background-color: gray;
    opacity: 50%;
  }