<div class="unit">
    <div class="unit-header">
        <div class="sprite-box">
            <img 
                class="unit-sprite" 
                alt="{{ this?.priclassentry }}" 
                src="{{this.data.changetracker | selectSprite:this.data:this?.priclassentry}}"
            >
        </div>
        <div> {{data.unitname }} {{data.unitid}} <span *ngIf="data.race != -1"> -- {{this.ps.RACENAMES[data.race]}}</span> </div>
    </div>
    <div class="stat-box">
        <div> A→ {{data.primaryclass }}</div>
        <div> A→ {{data.secondaryclass }}</div>
        <div> R↰ {{data.rability }}</div>
        <div> P↑ {{data.pability }}</div>
    </div>
    <div class="unit-footer">
        <button [routerLink]=[editurl]>Edit</button>
        <button class="dangerous-button" (click)="deleteUnit()">Delete</button>

    </div>
</div>
