main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.body-container {
    flex: 1;
}

.title {
    font-family: Highway Gothic, sans-serif;
    display: flex;
}

.headerbar {
    max-width: 100vw;
    color: var(--palesand);
    padding: 5px 20px;
    background-color: var(--darkblue);
    border-bottom: 5px solid black;
}

.footerbar {
    display: flex;
    justify-content: center;
    color: white;
    padding: 5px;
    max-width: 100vw;
}

.clanname {
    text-decoration: underline;
    padding-left: 15px;
}

label {
    font-size: 16px;
    font-weight: normal;
    color: white;
    display: flex;
    flex-direction: column;
}

.clanname:hover {
    color: var(--hover);
    cursor: pointer;
}

.clannameform {
    padding-left: 15px;
    margin-top: -3px;
}