.editpagewrapper {
    max-height: 85vh;
}

.edit-header {
    display: flex;
    background-color: var(--darkersand);
    color:white;
    padding: 5px;
}

.edit-header button {
    margin: 10px;
}

.edit-header p {
    margin-left: 15px;
}

.form-container {
    max-height: calc(100vh - 195px);
    padding: 5px;
    /* background-color: #C49C61; */
    overflow: scroll;
    border-width: 3px 0px;
    border-style: solid;
    border-color: black;
    color: white;
}

.main-form {
    padding: 0px 20px 75px 20px;
}


/* CLASS/JOB BUTTON COLLECTIONS */

.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    margin-left: 10px;
    padding: 3px;
}

.animation-wrapper {
    overflow: clip;
    border-radius: 19px;
} 


.entry-wrapper {
    padding: 1px;
    margin: 2px;
    border-radius: 19px;
    background-color: var(--darkblue);
}

.sprite-wrapper {
    width: 44px;
}

.sprite {
    padding: 2px;
    margin: 2px;
    border-radius: 15px;
    background-color: var(--darkblue-fg);
    border: none;
    
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.sprite-wrapper:hover .sprite:not(.selected-sprite) {
    background-color: var(--darkblue-hover);
}

/* unique character class sprite:  */
.uniqcsprite {
    background-color: var(--uniqentry-bg);
}

.uniqcsprite .sprite:not(.selected-sprite) {
    background-color: var(--uniqentry-fg);
}
.uniqcsprite:hover .sprite:not(.selected-sprite) {
    background-color: var(--uniqentry-hover);
}

/* including .sprite to boost specificity over uniqcsprite? */
.sprite.selected-sprite {
    background-color: var(--hover);
}

input {
    top:-20px;
    left: 0px;
    position: absolute;
}

input:focus + label > div {
    border: 2px solid white;
}

/* ABILITY BUTTON COLLECTIONS */

.a-entry {
    width: 140px;
    margin: 2px;
    padding: 2px 8px;
    /* padding-top is to account for overpass's weird descenders. remove for other fonts */
    padding-top: 5px; 
    border-radius: 15px;
    background-color: #3DE6FE80;
    color:black;
    display:inline-block;
}


.a-entry:hover:not(.selected-a-entry) {
    background-color: #3de6fec0;
}

.selected-a-entry {
    background-color: var(--hover);
    color:black;
}

/* NAME FORM */
.unitname-wrapper {
    display: flex;
    align-items: center;
}

.name {
    text-decoration: underline;
    padding-left: 5px;
}

.name:hover {
    color: var(--hover);
    cursor: pointer;
    font-weight: bold;
}
.nameform {
    padding-left: 5px;
}
.nameform-input {
    max-width: 120px;
    position:relative;
    top:auto;
    left:auto;
}

.nameform-label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
}