.editpagewrapper {
    background-color: palevioletred;
}

.sprite-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    background-color:brown;
    margin-left: 10px;
    padding: 3px;
}

.sprite-wrapper {
    padding: 1px;
    margin: 2px;
    border-radius: 15px;
    background-color: #d0ff3722;
}

.sprite {
    padding: 2px;
    margin: 2px;
    border-radius: 15px;
    background-color: #d0ff3722;
    border: none;
}

.selected-sprite {
    background-color: yellow;
}

.btn-img {
    width: 36px;
    height: 36px;
    object-fit: contain;
}